@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Work+Sans&display=swap');

* {
padding: 0;
margin: 0;
}

body {
color: white;
background-color: black;
}

header {
background-image: url("http://i1.faceprep.in/prograd-junior/animax-bg.png");
background-size: 100% 100%;
max-width: 100%;
max-height: 100%;
border: 8px solid #1B1717;
}

#logo img {
height: 5vh;
}

#header-text>p {
width: 300px;
}

nav {
margin: 2% 7%;
}

#scroll {
width: 80px;
}

.movie-text {
max-width: 400px;
}

/* Styling header text */
#header-text {
max-width: 500px;
min-height: 300px;
padding: 10% 0%;
margin: auto;
align-items: center;
text-align: center;
}

/* Styling buttons */
.button {
background-color: #F50A5F;
padding: 7px;
}

a {
text-decoration: none;
color: white;
}

/* Styling play button */
#play {
display: inline;
}

/* giving size to the div */
.movie-image {
height: 240px;
width: 400px;
}

.movie-image>img {
width: 100%;
}

h1 {
font-family: 'Passion One', cursive;
font-size: 55px;
font-weight: lighter;
}

p {
font-family: 'Work Sans', sans-serif;
font-size: 22px;
}

.movie-text>p {
margin: 22px 0px;
}

hr {
color: #1B1717;
border: 4px solid #1B1717;
}

footer {
height: 90px;
text-align: center;
}

#best-form{

}

#code-game{

}

#block-coding{

}

#one{

}

#two{

}

#three{

}